/* Styles specific to authentication pages */

/* Centering login container */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 22px); /* Adjusted width to accommodate the longest placeholder */
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Links */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
form {
  text-align: center;
}

/* Style links for better visibility */
p a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

p a:hover {
  color: #0056b3;
}